.Todo {
  padding: 10px 0;
  border-bottom: 1px dotted #ffdccf;
}
.Todo input[type='text'] {
  padding: 4px;
}
.Todo .save {
  padding: 5px;
  background-color: #da6033;
  color: #fff;
  font-weight: bolder;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
}
.btn {
  border: none;
  color: #da6033;
  background-color: #fff;
}

.edit {
  margin: 0 10px 0 20px;
}
input[type='checkbox'] {
  margin-right: 20px;
}
