.Chips {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Chips button {
  padding: 10px;
}

.bag {
  width: 20rem;
  position: absolute;
  top: 28em;
  /* align-self: center; */
}
